body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.primary-link:hover {
  color: #3f51b5;
}

.post-cancel-btn {
  text-decoration: none;
  color: #3f51b5;
  margin-left: 15px;
}

.post-cancel-btn:hover{
  text-decoration: underline;
}